@import url("https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@300;400;500;600;700;800;900&family=Work+Sans:wght@300;400;500;600;700;800;900&display=swap");
@import "tailwindcss";

@theme {
  --color-background: #f7f3eb;
  --color-foreground: #f1eade;
  --color-card: #fbf8f1;
  --color-foreground-strong: #261f1a;
  --color-border: #c9baad;
  --color-code-bg: #d8d0c3;
  --color-primary: #261f1a;
  --color-primary-light: #9e8c7e;
  --color-primary-soft: rgba(38, 31, 26, 0.1);
  --color-primary-border: rgba(38, 31, 26, 0.35);
  --color-surface: rgba(244, 243, 236, 0.5);
  --shadow-card:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --font-sans: "Work Sans", system-ui, Roboto, sans-serif;
  --font-heading: "Cormorant Infant", serif;
}

:root {
  color-scheme: light;
  font-family: var(--font-sans);
  font-size: 18px;
  line-height: 1.45;
  letter-spacing: 0.18px;
  color: var(--color-primary);
  background-color: var(--color-background);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (max-width: 1024px) {
  :root {
    font-size: 16px;
  }
}

@layer base {
  body {
    margin: 0;
    font-family: var(--font-sans);
    font-weight: 500;
    line-height: 1.5;
    background-color: var(--color-background);
    color: var(--color-primary);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-heading);
    font-weight: 700;
  }
}
